/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  padding: 0;
  margin: 0;
  border: 0;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

body {
  font-family: "Itim", cursive;
  font-size: 18px;
  font-weight: 700;
  position: relative;
  background: #000000;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.light__mode {
  background-color: #04270f;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  top: 0;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 150px;
  z-index: 999;
}

.moon__logo {
  width: 60px;
  height: 60px;
}

nav ul {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  min-width: 345px;
}

nav ul li {
  -webkit-transition: 800ms;
  -o-transition: 800ms;
  transition: 800ms;
}

nav ul li:hover,
nav ul li:focus {
  -webkit-transform: rotateX(360deg);
  transform: rotateX(360deg);
  border-radius: 50px;
  -webkit-box-shadow: #ffffff 0px 0px 30px;
  box-shadow: #ffffff 0px 0px 30px;
}

nav ul li:active {
  background-color: #daa520;
}

nav a {
  font-size: 0.9rem;
  font-weight: 650;
  color: #ffffff;
  padding: 15px;
}

nav a:visited {
  color: #777;
}

main {
  gap: 10px;
  width: 100%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.container {
  position: relative;
  top: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 25px;
  min-height: 250px;
  min-width: 450px;
  border-radius: 25px;
  background-color: #0a1107;
  -webkit-box-shadow: #ffffff 0px 0px 30px;
  box-shadow: #ffffff 0px 0px 30px;
}

#personal__Image {
  width: 150px;
  border-radius: 50%;
}

.container a {
  font-size: 3rem;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
}

.container a span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: inherit;
  font-size: 1rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.home__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact__form {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 150%;
  color: #ffffff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 10px;
}

.socialmedia__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 5px;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.btn__toggle-light {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 0.9rem;
  min-width: 80px;
  border: none;
  padding: 1px;
  border-radius: 8px;
  background-color: #ffffff;
  cursor: pointer;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.btn__toggle-light:hover {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #ffffff;
}

footer {
  color: #ffffff;
  gap: 10px;
  width: 100%;
  height: 100px;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

footer i {
  position: relative;
  left: -20px;
  margin-left: 5px;
  cursor: pointer;
  color: #ffffff;
}

.contact__footer--icons {
  padding: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.about__main h1 {
  color: #ffffff;
}

.about__table {
  padding: 10px;
  width: 100%;
  border-collapse: separate;
  width: 100%;
}

.about__table th {
  color: #ffffff;
  text-align: center;
  padding: 7px;
  border: solid #7a7a7a 0.5px;
}

.about__table td {
  color: #ffffff;
  text-align: center;
  padding: 7px;
  border: solid #7a7a7a 0.5px;
}

#direct__call-svg {
  -webkit-transition: rotate(225deg);
  -o-transition: rotate(225deg);
  transition: rotate(225deg);
}

.direct__call {
  text-shadow: 0px 5px 10px #000000;
  color: #daa520;
  font-size: 0.8rem;
  position: relative;
  bottom: 14px;
}

.grid__gallery--container {
  position: relative;
  width: 70%;
  border: 1px solid #ffffff;
  max-height: 30%;
  overflow: none;
}

.grid__gallery {
  position: absolute;
  display: -ms-grid;
  display: grid;
  width: 100%;
  grid-auto-flow: row dense;
  padding: 30px;
  background-color: #0a1107;
  -ms-grid-columns: 1fr 1.5em 1fr 1.5em 1fr 1.5em 1fr 1.5em 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1.5em;
}

.grid__gallery img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  display: block;
  position: relative;
  margin: auto;
  -webkit-transition: 0.9s;
  -o-transition: 0.9s;
  transition: 0.9s;
}

.grid__gallery img:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  -webkit-transform: scale(150%);
  -ms-transform: scale(150%);
  transform: scale(150%);
}

.toronto__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 68vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 999;
}

.toronto__svg {
  top: 100px;
}

.sun {
  animation: 5s sun_toronto infinite alternate-reverse;
}

@-webkit-keyframes sun_toronto {
  from {
    -webkit-transform: translate(-150px, 10px);
    transform: translate(-150px, 10px);
  }
  to {
    -webkit-transform: translate(0px, 60px);
    transform: translate(0px, 60px);
  }
}
@keyframes sun_toronto {
  from {
    -webkit-transform: translate(-150px, 10px);
    transform: translate(-150px, 10px);
  }
  to {
    -webkit-transform: translate(0px, 60px);
    transform: translate(0px, 60px);
  }
}
@media screen and (width: 1700px) {
  .grid__gallery {
    -ms-grid-columns: 1fr 1.5em 1fr 1.5em 1fr 1.5em 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 1700px) {
  .grid__gallery {
    -ms-grid-columns: 1fr 1.5em 1fr 1.5em 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 1020px) {
  .grid__gallery {
    -ms-grid-columns: 1fr 1.5em 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 760px) {
  .random__picsum {
    width: 150px;
    height: 150px;
  }
}
@media screen and (max-width: 760px) {
  .grid__gallery {
    top: 50px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    z-index: 999;
  }

  nav ul {
    line-height: 200%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 90px;
  }

  .moon__logo {
    display: none;
  }

  .btn__toggle-div {
    position: relative;
    bottom: 80px;
  }
}